@import '~styles/variables';
@import '~styles/shared';

.DataItem {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 40px 0;

    .label {
        flex-grow: 1;
        flex-basis: 0;
    }

    .value {
        flex-grow: 3;
        flex-basis: 0;
    }
}