.NewContactButton {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px;
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;

    .label {
        margin-left: 10px;
        font-style: italic;
        font-size: 0.9em;
        color: #635f5f;
    }

    .icon {
        color: green;
    }
}